= form_for @admin_department do |f|
  -if @admin_department.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_department.errors.count, "error")} prohibited this admin_department from being saved:"
      %ul
        - @admin_department.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
