%div#applications
  %h1= "Applications"
  %div.list_active
    %h2= "Active"
    = form_for :clients, :url => admin_users_remove_apps_path, :method => :post do |f|
      %table{:style => 'width:50%'}
        %tr
          %td= "Application"
          %td= "Roles"
          %td= "Delete"
        - @user.clients.sort_by(&:name).each do |client|
          %tr
            %td= "#{client.name}"
            %td= "#{client.access_rights.find_by_user_id(@user.id).roles}"
            %td= link_to 'Delete', admin_users_remove_app_path(:id => client.id, :user_id => @user.id), :confirm => "Are you sure?"
          
  %div.list_all
    %h2= "All"
    = form_for :clients, :url => admin_users_add_apps_path, :method => :post do |f|
      = f.hidden_field :user, :value => (@user.id)
      = f.collection_select :id, @apps, :id, :name_with_id, {}, {:class => 'chzn-select', :multiple => true, :style => 'width:350px;'}
      %br
      - if @apps.count <= 0
        = f.submit "Add Application(s)", :disabled => true
      - else
        = f.submit "Add Application(s)"