= form_for [:admin, @user] do |f|
  = f.error_messages
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name 
  %p
    = f.label :department
    %br
    = f.select :department, DEPARTMENTS, {:selected => @user.department, :include_blank => true}, {:class => 'chzn-select',:style => 'width:180px;', :id => 'department'}
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit (@user.new_record? ? "Add User" : "Update")