- title "Manage Accounts"

- if user_can? :create, User
  %div
    = link_to 'Add User', new_admin_user_path
  
%table.users-list
  - @users.each_with_index do |user, index|
    %tr{:class => "user_#{user.id} user-item"}
      %td= "#{user.first_name}"
      %td= "#{user.last_name}"
      %td= "#{user.id}"
      %td= "#{user.department}"
      %td
        = link_to user.email, edit_admin_user_path(:id => user.id)
      %td= user.roles
      %td
        = form_for user, :url => admin_users_change_status_path, :html => {:id => "user_#{user.id}_status"}, :method => :post, :remote => true do |f|
          = hidden_field_tag :user_id, user.id
          = select :user, :status, ['Active','Inactive'], {:selected => user.status} , {:class => 'chzn-select user-change-status', :id => "user_#{user.id}_status_select", :style => 'width:80px;'}
          %br
          = f.submit 'Update Status', :class => 'status-button'
      %td= link_to 'Delete', admin_user_path(:id => user.id), :method => :delete, :class => "delete_#{user.id} remove-user", :confirm => 'Are you sure?', :remote => true
    %tr
      %td{:colspan => 7}
        %div.list_apps_main
          %table.user-apps
            %tr
              %td= "Applications"
              %td= "Roles"
              %td= "Default User"
              %td= ""
            - user.clients.sort_by(&:name).each do |client|
              - app_ar = client.access_rights.find_by_user_id(user.id)
              - tr_class = "user_#{user.id} client_#{client.id}"
              - if app_ar.default_user == true
                - tr_class = (tr_class + ' default_user')
              %tr{:class => tr_class}
                %td
                  = client.name.to_s
                %td
                  = app_ar.roles.to_s
                %td
                  = app_ar.default_user.to_s
                %td
                  = form_for 'default_user', :url => admin_user_application_default_user_path(user,client, :format => :json), :html => {:id => "user_#{user.id}_app_#{client.id}_default", :class => 'change_default_form'}, :method => :post, :remote => true do |f|
                    = select 'user', 'default', ['True','False'], {:selected => app_ar.default_user.to_s.humanize} , {:class => 'chzn-select user-change-default', :id => "user_#{user.id}_app_#{client.id}_default_select", :style => 'width:80px;'}
                    %br
                    = f.submit "Change Default Status", :class => 'status-button'
                  